.filter-box {
  .row {
    align-items: baseline;
  }
  ul {
    padding: 0px 25px;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 28px;
    align-items: center;
    li {
      list-style: none;
    }
    button {
      background: transparent;
      border: 0px solid lightgray;
      padding: 5px 20px;
      width: 100%;
    }
    button::after {
      content: "";
      display: none;
    }
    .dropdown-menu {
      border: 0px;
    }
  }
}
.form-control {
  border: 0px !important;
}
.form-control:focus {
  box-shadow: none !important;
}
