<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">

      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>
      <div class="d-flex align-items-center">
        <a routerLink="/">
          <span class="logo-lg">
            <img src="assets/images/ndrc/logo_1.png" alt="" height="30" />
          </span>
        </a>
      </div>
    </div>

    <div class="d-flex">
      <div class="dropdown d-inline-block border-0" ngbDropdown>
        <button type="button" class="btn header-item" ngbDropdownToggle id="page-header-user-dropdown">

          <img class="rounded-circle header-profile-user" [src]="
              currentUser?.profile?.profile_pic ??'../../../assets/images/user-placeholder.png'
            " />
          <span class="d-none d-xl-inline-block ms-1">{{ currentUser?.first_name }}&nbsp;{{ currentUser?.last_name
            }}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-end border-0" ngbDropdownMenu>
          <!-- item-->
          <a class="dropdown-item cp" [routerLink]="'/profile'"><i class="bx bx-user font-size-16 align-middle me-1"></i>
            {{ "Profile" }}</a>
          <a class="dropdown-item cp"[routerLink]="'/setting'"><i class="bx bx-cog bx-spin font-size-16 align-middle me-1"></i>
            {{ "Setting" }}</a>
          <a class="dropdown-item cp"[routerLink]="'/subscription'"><i class="bx bx-credit-card font-size-16 align-middle me-1"></i>
            {{ "Subscription" }}</a>

          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
              class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            {{ "Logout" }}</a>
        </div>
      </div>
    </div>
  </div>
</header>