.chip{
    background: #f2edf3;
    padding: 10px;
    border-radius: 50%;
    width: 45px;
    display: flex;
    margin: auto;
    height: 45px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
}