<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-5 pe-0">
                <h5>Loading Slips</h5>
            </div>
            <div class="col-7 ps-0 text-end">
                <button class="btn btn-sm btn-rounded btn-primary" (click)="createSlip()"><i class="fas fa-plus"></i>
                    Add</button>
                <button class="btn btn-sm btn-rounded btn-info" (click)="export()"><i
                        class="fas fa-cloud-download-alt"></i>
                    Export</button>
            </div>
        </div>

    </div>
</div>
<app-filter-box [filterList]="['DateRange','Customer','SearchText']"
            (filterApplied)="filterApplied($event)"></app-filter-box>
<div class="card">
    <div class="card-body">
        
        <app-loader *ngIf="loader"></app-loader>
        <div class="table-responsive" *ngIf="!loader">
            <table class="table table-sm  table-boarderd">
                <thead>
                    <tr class="text-center">
                        <th></th>
                        <th>S.No</th>
                        <th>Date</th>
                        <th>Party</th>
                        <th>Trailor No</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Freight</th>
                        <th>Fine</th>
                        <th>Detain</th>
                        <th>Size (length, width, height)</th>
                        <th>weight (MT)</th>
                        <th>Guarantee (MT)</th>
                        <th>Advance</th>
                        <th>Balance</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of slipList;let i = index">

                        <tr  class="text-center">
                            <td class="text-center">
                                <a class="cp" (click)="item.expend = !item.expend"><i class="fas"
                                        [ngClass]="{'fa-plus':!item.expend,'fa-minus':item.expend,}"></i></a>
                            </td>
                            <td>{{item?.s_no}}</td>
                            <td>{{item?.date }}</td>
                            <td>{{item?.customer?.name | titlecase}}</td>
                            <td>{{item?.trailor_no?.toUpperCase()}}</td>
                            <td>{{item?.from}}</td>
                            <td>{{item?.to}}</td>
                            <td>{{item?.freight?.toLocaleString('en')}}</td>
                            <td>{{item?.fine ?? 'NA'}}</td>
                            <td>{{item?.detain ?? 'NA'}}</td>
                            <td>{{item?.l}}, {{item?.w}}, {{item?.h}}</td>
                            <td>{{item?.weight}}</td>
                            <td>{{item?.guarantee ?? 'NA'}}</td>
                            <td>{{item?.advance?.toLocaleString('en')}}</td>
                            <td>{{item?.balance?.toLocaleString('en')}}</td>
                            <td>
                                <div class="d-flex justify-content-center">

                                    <a class="cp text-primary" (click)="viewSlip(item?._id)"><i
                                            class="fas fa-eye font-size-18"></i></a>
                                    <a class="cp text-info ms-2" (click)="createSlip(item?._id)"><i
                                            class="fas fa-pen font-size-16"></i></a>

                                    <a class="cp text-danger ms-2" (click)="deleteSlip(item?._id)"><i
                                            class="fas fa-trash-alt font-size-16"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="slipList.length == 0">
                            <td colspan="100%" class="text-center">No Data Available!</td>
                        </tr>
                        <tr *ngIf="item.expend">
                            <td colspan="100%">
                                <div class="expended">
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <button (click)="createEntries(item?._id)"
                                                class="btn m-0 btn-sm btn-rounded btn-success">Create Entry</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <strong>Description:</strong> {{item.description ?? 'N/A'}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    @if (slipList.length == 0) {
                        <tr>
                            <td colspan="100%" class="text-center">No data to display!</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <app-pagination (loading)="loader = $event" (paginatedData)="setData($event)" [next]="pagination?.next"
            [previous]="pagination?.previous"></app-pagination>
    </div>
</div>