<div class="card">
    <div class="card-body">
        <h5>Loading Slips</h5>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive"></div>
        <table class="table table-striped table-boarderd">
            <thead>
                <th>S.No</th>
                <th>Date</th>
                <th>Party</th>
                <th>Trailor No</th>
                <th>From</th>
                <th>To</th>
                <th>Freight</th>
                <th>Fine</th>
                <th>Detain</th>
                <th>Size (length, width, height)</th>
                <th>weight / Guarantee</th>
                <th>Advance</th>
                <th>Balance</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of slipList;let i = index">
                    <td>{{item?.s_no}}</td>
                    <td>{{item?.date}}</td>
                    <td>{{item?.party}}</td>
                    <td>{{item?.trailor_no?.toUpperCase()}}</td>
                    <td>{{item?.from}}</td>
                    <td>{{item?.to}}</td>
                    <td>{{item?.freight?.toLocaleString('en')}}</td>
                    <td>{{item?.fine}}</td>
                    <td>{{item?.detain}}</td>
                    <td>{{item?.l}}, {{item?.w}}, {{item?.h}}</td>
                    <td>{{item?.weight}} / {{item?.guarantee}}</td>
                    <td>{{item?.advance?.toLocaleString('en')}}</td>
                    <td>{{item?.balance?.toLocaleString('en')}}</td>
                </tr>
                <tr *ngIf="slipList.length == 0">
                    <td colspan="100%" class="text-center">No Data Available!</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>