<div class="modal-content large-modal-content">
    <div class="popup-header">
        <div class="row">
            <div class="col-md-10">
                <h5 class="text-white">{{ action == 'new' ? 'Create' :'Update'}} Slip</h5>
            </div>
            <div class="col-md-2 text-end">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePop()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <app-loader *ngIf="loading"></app-loader>
            <form *ngIf="!loading" class="h-100" [formGroup]="loadingSlipForm">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">S.No.</label>
                            <input class="form-control" placeholder="S.No" formControlName="s_no" type="number" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Date <code>*</code></label>

                            <input class="form-control" placeholder="Date" formControlName="date" type="date" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Trailor No. <code>*</code></label>
                            <input class="form-control" placeholder="Trailor No." formControlName="trailor_no"
                                type="text" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Customer <code>*</code></label>
                            <!-- <input class="form-control" placeholder="Party Name" type="text" formControlName="party" /> -->
                            <ng-select class="w-100" formControlName="customer" bindLabel="name" bindValue="_id"
                                [loading]="ctLoader" [items]="customerList" placeholder="Select Customer"></ng-select>
                        </div>
                    </div>
                    <!-- <div class="col-12 d-flex"> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Address</label>
                            <input class="form-control" placeholder="Address" type="text" formControlName="address" />
                        </div>
                    </div>


                    <!-- </div> -->
                    <!-- <div class="col-12 d-flex"> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">From <code>*</code></label>
                            <input class="form-control" placeholder="From" formControlName="from" type="text" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="">To <code>*</code></label>
                            <input class="form-control" placeholder="To" formControlName="to" type="text" />
                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Goods</label>
                            <input class="form-control" placeholder="Goods" formControlName="goods" type="text" />
                        </div>
                    </div>
                    <!-- <div class="col-12 d-flex"> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Freight <code>*</code></label>
                            <input class="form-control" placeholder="Freight" formControlName="freight" type="number" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="">P.M.T.</label>
                            <input class="form-control" formControlName="p_m_t" placeholder="PMT" type="text" />
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-12 d-flex"> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Fine</label>
                            <input class="form-control" placeholder="Fine" formControlName="fine" type="text" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Detain</label>
                            <input class="form-control" formControlName="detain" placeholder="Detain" type="text" />
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-12 d-flex"> -->
                    <div class="col-2 mr-auto">
                        <div class="form-group">
                            <label for="">Size</label>
                            <input class="form-control" placeholder="Size" formControlName="size" type="number" />
                        </div>
                    </div>
                    <div class="col-2 mr-auto">
                        <div class="form-group">
                            <label for="">L. <code>*</code></label>
                            <input class="form-control" placeholder="L" formControlName="l" type="number" />
                        </div>
                    </div>
                    <div class="col-2 mr-auto">
                        <div class="form-group">
                            <label for="">W. <code>*</code></label>
                            <input class="form-control" placeholder="W" type="number" formControlName="w" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="">H. <code>*</code></label>
                            <input class="form-control" placeholder="H" formControlName="h" type="number" />
                        </div>
                    </div>

                    <!-- <div class="col-6">
                    <div class="form-group">
                      <label for="">Detain</label>
                      <input
                        class="form-control"
                        placeholder="Detain"
                        type="text"
                      />
                    </div>
                  </div> -->
                    <!-- </div> -->
                    <!-- <div class="col-12 d-flex"> -->
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Weight <code>*</code></label>
                            <input class="form-control" placeholder="Weight" type="number" formControlName="weight" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Guarantee</label>
                            <input class="form-control" placeholder="Guarantee" type="text"
                                formControlName="guarantee" />
                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Advance <code>*</code></label>
                            <input class="form-control" placeholder="Advance" (keyup)="calculateBal()"
                                formControlName="advance" type="number" />
                        </div>
                        <div class="form-group">
                            <label for="">Balance <code>*</code></label>
                            <input class="form-control" placeholder="Balance" formControlName="balance" type="number" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea rows="5" formControlName="description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-3 justify-content-end">
                    <button class="btn btn-light btn-sm" (click)="closePop()">Cancel</button>
                    <button class="btn text-white theme-bg-color btn-sm" (click)="saveRating()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>