.form-control{
    height: 50px !important;
}
.welcome{
   margin: 30px 0px;
    .text-welcome{
        color: rgb(190, 190, 190);
        font-size: 13px;
    }
}
form{
    color: lightgray !important;
}