<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6 pe-0">
                <h5>Customers</h5>
            </div>
            <div class="col-6 ps-0 text-end">
                <button class="btn btn-sm btn-rounded btn-primary" (click)="createCustomer()"><i
                        class="fas fa-plus"></i> Add</button>
                <button class="btn btn-sm btn-rounded btn-warning" (click)="import()"><i class="fas fa-file-import"></i>
                    Import</button>

                <button class="btn btn-sm btn-rounded btn-info" (click)="export()"><i
                        class="fas fa-cloud-download-alt"></i>
                    Export</button>
            </div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-body">
        <!-- <app-filter-box [filterList]="['DateRange','SearchText']"
            (filterApplied)="filterApplied($event)"></app-filter-box> -->
        <app-loader *ngIf="loader"></app-loader>
        <div class="table-responsive" *ngIf="!loader">
            <table class="table table-striped table-boarderd">
                <thead>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Address line 1</th>
                    <th>Address line 2</th>
                    <th>Description</th>
                    <th>Action</th>

                </thead>
                <tbody>
                    <tr *ngFor="let item of customerList;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item?.name}}</td>
                        <td>{{item?.mobile}}</td>
                        <td>{{item?.email }}</td>
                        <td>{{item?.address_line_1}}</td>
                        <td>{{item?.address_line_2}}</td>
                        <td>{{item?.description}}</td>

                        <td>

                            <a class="cp text-info ms-2" (click)="createCustomer(item?._id)"><i
                                    class="fas fa-pen font-size-16"></i></a>

                            <a class="cp text-danger ms-2" (click)="deleteCustomer(item?._id)"><i
                                    class="fas fa-trash-alt font-size-16"></i></a>
                        </td>
                    </tr>
                    <tr *ngIf="customerList.length == 0">
                        <td colspan="100%" class="text-center">No Data Available!</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <app-pagination (loading)="loader = $event" (paginatedData)="setData($event)" [next]="pagination?.next"
            [previous]="pagination?.previous"></app-pagination>
    </div>
</div>